/*  ==========================================================================
    Slider
    ========================================================================== */
/*
    Block
    ========================================================================== */
/*
    Elements
    ========================================================================== */
.slider__heading {
  top: 200px;
}

.m-slider__slide {
  padding-bottom: 0 !important;
}

.m-slider__slide .image {
  width: 100%;
  display: block;
}

@media (max-width: 789px) {
  .m-slider__slide .image--visible-on-desktop {
    display: none;
  }
}

@media (min-width: 790px) {
  .m-slider__slide .image--visible-on-mobile {
    display: none;
  }
}

/*  ==========================================================================
    Video
    ========================================================================== */
/*
    Block
    ========================================================================== */
.video {
  position: relative;
}

/*  ==========================================================================
    Slider
    ========================================================================== */
/*
    Block
    ========================================================================== */
.m-videos .carousel--mixed .carousel__item {
  width: 73%;
}

@media screen and (max-width: 580px) {
  .m-videos .carousel--mixed .carousel__item {
    width: 80%;
  }
}
