/*  ==========================================================================
    c-infowindow
    ========================================================================== */
    
.c-infowindow__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  max-width: 100%;
  max-height: 100%;
  overflow: hidden;
}

.c-infowindow__img {
  background-position: center;
  background-size: cover;
  height: 200px;
  width: 200px;
}

.c-infowindow__txt {
  padding: 20px;
  font-size: 20px;
  width: 300px;
  max-width: 300px;
}
