/*  ==========================================================================
    c-map
    ========================================================================== */
    
.c-map {
  width: 100%;
  height: 100%;
}

.c-map [id="#map"] {
  width: 100%;
  height: 100%;
}

.c-map .zoom {
  position: absolute;
  right: 40px;
  bottom: 40px;
  z-index: 1;
}

@media (max-width: 789px) {
  .c-map .zoom {
    right: 20px;
  }
}

.c-map .zoom > * {
  margin-top: 3px;
}

.c-map .zoom svg {
  height: 40px;
  width: 40px;
}

.c-map .zoom svg circle {
  fill: rgba(0, 0, 0, 0.4);
  opacity: 1;
}

.c-map .zoom svg:hover circle {
  fill: rgba(0, 0, 0, 0.6);
}

@media (max-width: 789px) {
  .c-map .zoom svg:hover circle {
    fill: rgba(0, 0, 0, 0.4);
  }
}
