/*  ==========================================================================
    Video
    ========================================================================== */
/*
    Block
    ========================================================================== */
.vrview {
  position: relative;
  width: 100%;
  height: 70vh;
}

.vrview iframe {
  width: 100%;
  height: 100%;
}
