/*  ==========================================================================
    Lazysizes
    ========================================================================== */
/*
    Base
    ========================================================================== */
.lazy-container {
  position: relative;
  display: block;
  overflow: hidden;
  background-color: #f1f1f1;
}

.lazy-container .debug_info,
.lazy-container .debug_info_2 {
  background: black;
  color: white;
  opacity: 0.55;
  padding: 4px 8px;
  position: absolute;
  z-index: 1;
  font-size: 12px;
}

.lazy-container .debug_info_2 {
  right: 0;
}

.lazy-debugger {
  color: white;
  font-size: 12px;
  z-index: 1;
  position: absolute;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  font-family: 'Consolas', monospace;
}

.lazy-debugger > div {
  padding: 2px 4px;
}

.lazy-debugger__img-sizes {
  background: rgba(0, 8, 136, 0.5);
}

.lazy-debugger__img-sizes .lazy-debugger__img-crop,
.lazy-debugger__img-sizes .lazy-debugger__img-mode {
  display: none;
}

.lazy-debugger__img-sizes:hover .lazy-debugger__img-crop,
.lazy-debugger__img-sizes:hover .lazy-debugger__img-mode {
  display: block;
}

.lazy-debugger__img-ratio {
  background: rgba(0, 136, 136, 0.5);
}

.lazy-debugger__img-width {
  background: rgba(8, 136, 0, 0.5);
}

.lazy-debugger__img-loaded {
  background: rgba(8, 8, 0, 0.5);
}

.lazy-debugger__img-efficiency {
  background: rgba(136, 0, 0, 0.5);
}

.lazyload,
.lazyloading {
  opacity: 0;
}

.lazyloaded {
  opacity: 1;
  will-change: opacity;
  -webkit-transition: opacity 0.8s cubic-bezier(0.42, 0, 0.34, 1.01);
  transition: opacity 0.8s cubic-bezier(0.42, 0, 0.34, 1.01);
}

/*
    Modifiers
    ========================================================================== */
.lazy-container img {
  height: 100%;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}

.lazy-container img:not([src]):not([srcset]) {
  visibility: hidden;
}

.lazy-container--trans {
  background-color: transparent;
}

.lazy-container--crop {
  padding-bottom: 0 !important;
}

.lazy-container--crop img {
  -o-object-fit: cover;
     object-fit: cover;
  min-height: 100%;
  height: auto;
  min-width: 100%;
  width: auto;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.lazy-container--desktop {
  display: block;
}

@media screen and (max-width: 768px) {
  .lazy-container--desktop {
    display: none;
  }
}

.lazy-container--mobile {
  display: none;
}

@media screen and (max-width: 768px) {
  .lazy-container--mobile {
    display: block;
  }
}
