/*  ==========================================================================
    Col
    ========================================================================== */
/*
    Block
    ========================================================================== */
.col {
  position: relative;
}

/*
    Modifiers
    ========================================================================== */
.col--1-2 {
  width: calc(99.9% * 1/2 - (35px - 35px * 1/2));
}
.col--1-2:nth-child(1n) {
  float: left;
  margin-right: 35px;
  clear: none;
}
.col--1-2:last-child {
  margin-right: 0;
}
.col--1-2:nth-child(2n) {
  margin-right: 0;
  float: right;
}
.col--1-2:nth-child(2n + 1) {
  clear: both;
}

.col--1-2-flush {
  width: calc(99.9% * 1/2);
}

.col--1-2-flush:nth-child(1n) {
  float: left;
  margin-right: 0;
  clear: none;
}

.col--1-2-flush:last-child {
  margin-right: 0;
}

.col--1-2-flush:nth-child(2n) {
  margin-right: 0;
  float: right;
}

.col--1-2-flush:nth-child(2n + 1) {
  clear: both;
}

.col--1-3 {
  width: calc(99.9% * 1/3 - (35px - 35px * 1/3));
}

.col--1-3:nth-child(1n) {
  float: left;
  margin-right: 35px;
  clear: none;
}

.col--1-3:last-child {
  margin-right: 0;
}

.col--1-3:nth-child(0n) {
  float: right;
}

.col--1-3-flush {
  width: calc(99.9% * 1/3);
}

.col--1-3-flush:nth-child(1n) {
  float: left;
  margin-right: 0;
  clear: none;
}

.col--1-3-flush:last-child {
  margin-right: 0;
}

.col--1-3-flush:nth-child(0n) {
  float: right;
}

.col--1-4 {
  width: calc(99.9% * 1/4 - (35px - 35px * 1/4));
}

.col--1-4:nth-child(1n) {
  float: left;
  margin-right: 35px;
  clear: none;
}

.col--1-4:last-child {
  margin-right: 0;
}

.col--1-4:nth-child(0n) {
  float: right;
}

.col--1-5 {
  width: calc(99.9% * 1/5 - (35px - 35px * 1/5));
}

.col--1-5:nth-child(1n) {
  float: left;
  margin-right: 35px;
  clear: none;
}

.col--1-5:last-child {
  margin-right: 0;
}

.col--1-5:nth-child(0n) {
  float: right;
}

.col--1-6 {
  width: calc(99.9% * 1/6 - (35px - 35px * 1/6));
}

.col--1-6:nth-child(1n) {
  float: left;
  margin-right: 35px;
  clear: none;
}

.col--1-6:last-child {
  margin-right: 0;
}

.col--1-6:nth-child(0n) {
  float: right;
}

.col--1-7 {
  width: calc(99.9% * 1/7 - (35px - 35px * 1/7));
}

.col--1-7:nth-child(1n) {
  float: left;
  margin-right: 35px;
  clear: none;
}

.col--1-7:last-child {
  margin-right: 0;
}

.col--1-7:nth-child(0n) {
  float: right;
}

.col--1-8 {
  width: calc(99.9% * 1/8 - (35px - 35px * 1/8));
}

.col--1-8:nth-child(1n) {
  float: left;
  margin-right: 35px;
  clear: none;
}

.col--1-8:last-child {
  margin-right: 0;
}

.col--1-8:nth-child(0n) {
  float: right;
}

.col--1-12 {
  width: calc(99.9% * 1/12 - (35px - 35px * 1/12));
}

.col--1-12:nth-child(1n) {
  float: left;
  margin-right: 35px;
  clear: none;
}

.col--1-12:last-child {
  margin-right: 0;
}

.col--1-12:nth-child(0n) {
  float: right;
}

.col--3-12 {
  width: calc(99.9% * 3/12 - (35px - 35px * 3/12));
}

.col--3-12:nth-child(1n) {
  float: left;
  margin-right: 35px;
  clear: none;
}

.col--3-12:last-child {
  margin-right: 0;
}

.col--3-12:nth-child(4n) {
  margin-right: 0;
  float: right;
}

.col--3-12:nth-child(4n + 1) {
  clear: both;
}

.col--4-12 {
  width: calc(99.9% * 4/12 - (35px - 35px * 4/12));
}

.col--4-12:nth-child(1n) {
  float: left;
  margin-right: 35px;
  clear: none;
}

.col--4-12:last-child {
  margin-right: 0;
}

.col--4-12:nth-child(3n) {
  margin-right: 0;
  float: right;
}

.col--4-12:nth-child(3n + 1) {
  clear: both;
}

.col--5-12 {
  width: calc(99.9% * 5/12 - (35px - 35px * 5/12));
}

.col--5-12:nth-child(1n) {
  float: left;
  margin-right: 35px;
  clear: none;
}

.col--5-12:last-child {
  margin-right: 0;
}

.col--5-12:nth-child(0n) {
  float: right;
}

.col--6-12 {
  width: calc(99.9% * 6/12 - (35px - 35px * 6/12));
}

.col--6-12:nth-child(1n) {
  float: left;
  margin-right: 35px;
  clear: none;
}

.col--6-12:last-child {
  margin-right: 0;
}

.col--6-12:nth-child(0n) {
  float: right;
}

.col--7-12 {
  width: calc(99.9% * 7/12 - (35px - 35px * 7/12));
}

.col--7-12:nth-child(1n) {
  float: left;
  margin-right: 35px;
  clear: none;
}

.col--7-12:last-child {
  margin-right: 0;
}

.col--7-12:nth-child(0n) {
  float: right;
}

.col--8-12 {
  width: calc(99.9% * 8/12 - (35px - 35px * 8/12));
}

.col--8-12:nth-child(1n) {
  float: left;
  margin-right: 35px;
  clear: none;
}

.col--8-12:last-child {
  margin-right: 0;
}

.col--8-12:nth-child(0n) {
  float: right;
}

.col--10-12 {
  width: calc(99.9% * 10/12 - (35px - 35px * 10/12));
}

.col--10-12:nth-child(1n) {
  float: left;
  margin-right: 35px;
  clear: none;
}

.col--10-12:last-child {
  margin-right: 0;
}

.col--10-12:nth-child(0n) {
  float: right;
}

.col--1-24 {
  width: calc(99.9% * 1/24 - (35px - 35px * 1/24));
}

.col--1-24:nth-child(1n) {
  float: left;
  margin-right: 35px;
  clear: none;
}

.col--1-24:last-child {
  margin-right: 0;
}

.col--1-24:nth-child(0n) {
  float: right;
}

.col--3-4 {
  width: calc(99.9% * 3/4 - (35px - 35px * 3/4));
}

.col--3-4:nth-child(1n) {
  float: left;
  margin-right: 35px;
  clear: none;
}

.col--3-4:last-child {
  margin-right: 0;
}

.col--3-4:nth-child(0n) {
  float: right;
}

.col--padding {
  padding-left: 5vw;
}

.col--right {
  float: right !important;
}

.col--align-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

@media screen and (max-width: 768px) {
  .col--align-auto-bp-tp {
    display: block;
  }
}

@media screen and (max-width: 580px) {
  .col--align-auto-bp-ml {
    display: block;
  }
}

.col--vh {
  height: 100vh;
}

.col--flush-left {
  left: -7vw;
}

.col--push-left {
  padding-left: 7vw;
}

.col-margin-bottom--l {
  margin-bottom: 100px;
}

.col-margin-bottom--s {
  margin-bottom: 50px;
}

.col-margin-bottom--xs {
  margin-bottom: 30px;
}

.col-margin-bottom--40 {
  margin-bottom: 40px;
}

.col-padding-top--l {
  padding-top: 100px;
}

.col-padding-top--m {
  padding-top: 80px;
}

.col-padding-top--s {
  padding-top: 50px;
}

.col-padding-bottom--m {
  padding-bottom: 80px;
}

/* modules grid */
.col--grid-12 {
  width: calc(99.9% * 12/12);
}
.col--grid-12:nth-child(1n) {
  float: left;
  margin-right: 0;
  clear: none;
}
.col--grid-12:last-child {
  margin-right: 0;
}
.col--grid-12:nth-child(0n) {
  float: right;
}

.col--grid-11 {
  width: calc(99.9% * 11/12);
}

.col--grid-11:nth-child(1n) {
  float: left;
  margin-right: 0;
  clear: none;
}

.col--grid-11:last-child {
  margin-right: 0;
}

.col--grid-11:nth-child(0n) {
  float: right;
}

.col--grid-10 {
  width: calc(99.9% * 10/12);
}

.col--grid-10:nth-child(1n) {
  float: left;
  margin-right: 0;
  clear: none;
}

.col--grid-10:last-child {
  margin-right: 0;
}

.col--grid-10:nth-child(0n) {
  float: right;
}

.col--grid-9 {
  width: calc(99.9% * 9/12);
}

.col--grid-9:nth-child(1n) {
  float: left;
  margin-right: 0;
  clear: none;
}

.col--grid-9:last-child {
  margin-right: 0;
}

.col--grid-9:nth-child(0n) {
  float: right;
}

.col--grid-8 {
  width: calc(99.9% * 8/12);
}

.col--grid-8:nth-child(1n) {
  float: left;
  margin-right: 0;
  clear: none;
}

.col--grid-8:last-child {
  margin-right: 0;
}

.col--grid-8:nth-child(0n) {
  float: right;
}

.col--grid-7 {
  width: calc(99.9% * 7/12);
}

.col--grid-7:nth-child(1n) {
  float: left;
  margin-right: 0;
  clear: none;
}

.col--grid-7:last-child {
  margin-right: 0;
}

.col--grid-7:nth-child(0n) {
  float: right;
}

.col--grid-6 {
  width: calc(99.9% * 6/12);
}

.col--grid-6:nth-child(1n) {
  float: left;
  margin-right: 0;
  clear: none;
}

.col--grid-6:last-child {
  margin-right: 0;
}

.col--grid-6:nth-child(0n) {
  float: right;
}

.col--grid-5 {
  width: calc(99.9% * 5/12);
}

.col--grid-5:nth-child(1n) {
  float: left;
  margin-right: 0;
  clear: none;
}

.col--grid-5:last-child {
  margin-right: 0;
}

.col--grid-5:nth-child(0n) {
  float: right;
}

.col--grid-4 {
  width: calc(99.9% * 4/12);
}

.col--grid-4:nth-child(1n) {
  float: left;
  margin-right: 0;
  clear: none;
}

.col--grid-4:last-child {
  margin-right: 0;
}

.col--grid-4:nth-child(0n) {
  float: right;
}

.col--grid-3 {
  width: calc(99.9% * 3/12);
}

.col--grid-3:nth-child(1n) {
  float: left;
  margin-right: 0;
  clear: none;
}

.col--grid-3:last-child {
  margin-right: 0;
}

.col--grid-3:nth-child(0n) {
  float: right;
}

.col--grid-2 {
  width: calc(99.9% * 2/12);
}

.col--grid-2:nth-child(1n) {
  float: left;
  margin-right: 0;
  clear: none;
}

.col--grid-2:last-child {
  margin-right: 0;
}

.col--grid-2:nth-child(0n) {
  float: right;
}

.col--grid-1 {
  width: calc(99.9% * 1/12);
}

.col--grid-1:nth-child(1n) {
  float: left;
  margin-right: 0;
  clear: none;
}

.col--grid-1:last-child {
  margin-right: 0;
}

.col--grid-1:nth-child(0n) {
  float: right;
}

/* speakers grid */
.col--2-12 {
  width: calc(99.9% * 2/12 - (5% - 5% * 2/12));
}
.col--2-12:nth-child(1n) {
  float: left;
  margin-right: 5%;
  clear: none;
}
.col--2-12:last-child {
  margin-right: 0;
}
.col--2-12:nth-child(6n) {
  margin-right: 0;
  float: right;
}
.col--2-12:nth-child(6n + 1) {
  clear: both;
}

/* sibling page slider */
.col--5-12 {
  width: calc(99.9% * 5/12 - (35px - 35px * 5/12));
}
.col--5-12:nth-child(1n) {
  float: left;
  margin-right: 35px;
  clear: none;
}
.col--5-12:last-child {
  margin-right: 0;
}
.col--5-12:nth-child(0n) {
  float: right;
}

/* charities grid */
.col--grid-charities {
  width: calc(99.9% * 3/12 - (35px - 35px * 3/12));
}
.col--grid-charities:nth-child(1n) {
  float: left;
  margin-right: 35px;
  clear: none;
}
.col--grid-charities:last-child {
  margin-right: 0;
}
.col--grid-charities:nth-child(4n) {
  margin-right: 0;
  float: right;
}
.col--grid-charities:nth-child(4n + 1) {
  clear: both;
}

@media screen and (max-width: 1630px) {
  .col--grid-charities {
    width: calc(99.9% * 4/12 - (35px - 35px * 4/12));
  }
  .col--grid-charities:nth-child(1n) {
    float: left;
    margin-right: 35px;
    clear: none;
  }
  .col--grid-charities:last-child {
    margin-right: 0;
  }
  .col--grid-charities:nth-child(3n) {
    margin-right: 0;
    float: right;
  }
  .col--grid-charities:nth-child(3n + 1) {
    clear: both;
  }
}

@media screen and (max-width: 1374px) {
  .col--grid-charities {
    width: calc(99.9% * 6/12 - (35px - 35px * 6/12));
  }
  .col--grid-charities:nth-child(1n) {
    float: left;
    margin-right: 35px;
    clear: none;
  }
  .col--grid-charities:last-child {
    margin-right: 0;
  }
  .col--grid-charities:nth-child(2n) {
    margin-right: 0;
    float: right;
  }
  .col--grid-charities:nth-child(2n + 1) {
    clear: both;
  }
}

@media screen and (max-width: 768px) {
  .col--grid-charities {
    width: calc(99.9% * 1/1);
  }
  .col--grid-charities:nth-child(1n) {
    float: left;
    margin-right: 0;
    clear: none;
  }
  .col--grid-charities:last-child {
    margin-right: 0;
  }
  .col--grid-charities:nth-child(0n) {
    float: right;
  }
}

/* breakpoints */
@media screen and (max-width: 1200px) {
  .col--4-12-bp-1200 {
    width: calc(99.9% * 3/12 - (10% - 10% * 3/12));
  }
  .col--4-12-bp-1200:nth-child(1n) {
    float: left;
    margin-right: 10%;
    clear: none;
  }
  .col--4-12-bp-1200:last-child {
    margin-right: 0;
  }
  .col--4-12-bp-1200:nth-child(4n) {
    margin-right: 0;
    float: right;
  }
  .col--4-12-bp-1200:nth-child(4n + 1) {
    clear: both;
  }
}

@media screen and (max-width: 1440px) {
  .col--1-3-bp-dl {
    width: calc(99.9% * 1/3 - (35px - 35px * 1/3));
  }
  .col--1-3-bp-dl:nth-child(1n) {
    float: left;
    margin-right: 35px;
    clear: none;
  }
  .col--1-3-bp-dl:last-child {
    margin-right: 0;
  }
  .col--1-3-bp-dl:nth-child(0n) {
    float: right;
  }
}

@media screen and (max-width: 1374px) {
  .col--1-1-bp-ds {
    width: calc(99.9% * 1/1);
  }
  .col--1-1-bp-ds:nth-child(1n) {
    float: left;
    margin-right: 0;
    clear: none;
  }
  .col--1-1-bp-ds:last-child {
    margin-right: 0;
  }
  .col--1-1-bp-ds:nth-child(0n) {
    float: right;
  }
}

@media screen and (max-width: 1374px) {
  .col--1-3-bp-ds {
    width: calc(99.9% * 1/3 - (35px - 35px * 1/3));
  }
  .col--1-3-bp-ds:nth-child(1n) {
    float: left;
    margin-right: 35px;
    clear: none;
  }
  .col--1-3-bp-ds:last-child {
    margin-right: 0;
  }
  .col--1-3-bp-ds:nth-child(0n) {
    float: right;
  }
}

@media screen and (max-width: 1374px) {
  .col--1-2-bp-ds {
    width: calc(99.9% * 1/2 - (35px - 35px * 1/2));
  }
  .col--1-2-bp-ds:nth-child(1n) {
    float: left;
    margin-right: 35px;
    clear: none;
  }
  .col--1-2-bp-ds:last-child {
    margin-right: 0;
  }
  .col--1-2-bp-ds:nth-child(0n) {
    float: right;
  }
}

@media screen and (max-width: 1374px) {
  .col--7-12-bp-ds {
    width: calc(99.9% * 6/12 - (35px - 35px * 6/12));
  }
  .col--7-12-bp-ds:nth-child(1n) {
    float: left;
    margin-right: 35px;
    clear: none;
  }
  .col--7-12-bp-ds:last-child {
    margin-right: 0;
  }
  .col--7-12-bp-ds:nth-child(0n) {
    float: right;
  }
}

@media screen and (max-width: 1024px) {
  .col--grid-11-bp-tl {
    width: calc(99.9% * 11/12);
  }
  .col--grid-11-bp-tl:nth-child(1n) {
    float: left;
    margin-right: 0;
    clear: none;
  }
  .col--grid-11-bp-tl:last-child {
    margin-right: 0;
  }
  .col--grid-11-bp-tl:nth-child(0n) {
    float: right;
  }
}

@media screen and (max-width: 1024px) {
  .col--grid-10-bp-tl {
    width: calc(99.9% * 10/12);
  }
  .col--grid-10-bp-tl:nth-child(1n) {
    float: left;
    margin-right: 0;
    clear: none;
  }
  .col--grid-10-bp-tl:last-child {
    margin-right: 0;
  }
  .col--grid-10-bp-tl:nth-child(0n) {
    float: right;
  }
}

@media screen and (max-width: 1024px) {
  .col--grid-8-bp-tl {
    width: calc(99.9% * 8/12);
  }
  .col--grid-8-bp-tl:nth-child(1n) {
    float: left;
    margin-right: 0;
    clear: none;
  }
  .col--grid-8-bp-tl:last-child {
    margin-right: 0;
  }
  .col--grid-8-bp-tl:nth-child(0n) {
    float: right;
  }
}

@media screen and (max-width: 1024px) {
  .col--grid-6-bp-tl {
    width: calc(99.9% * 6/12);
  }
  .col--grid-6-bp-tl:nth-child(1n) {
    float: left;
    margin-right: 0;
    clear: none;
  }
  .col--grid-6-bp-tl:last-child {
    margin-right: 0;
  }
  .col--grid-6-bp-tl:nth-child(0n) {
    float: right;
  }
}

@media screen and (max-width: 1024px) {
  .col--grid-4-bp-tl {
    width: calc(99.9% * 4/12);
  }
  .col--grid-4-bp-tl:nth-child(1n) {
    float: left;
    margin-right: 0;
    clear: none;
  }
  .col--grid-4-bp-tl:last-child {
    margin-right: 0;
  }
  .col--grid-4-bp-tl:nth-child(0n) {
    float: right;
  }
}

@media screen and (max-width: 1024px) {
  .col--grid-2-bp-tl {
    width: calc(99.9% * 2/12);
  }
  .col--grid-2-bp-tl:nth-child(1n) {
    float: left;
    margin-right: 0;
    clear: none;
  }
  .col--grid-2-bp-tl:last-child {
    margin-right: 0;
  }
  .col--grid-2-bp-tl:nth-child(0n) {
    float: right;
  }
}

@media screen and (max-width: 1024px) {
  .col--1-2-bp-tl {
    width: calc(99.9% * 1/2 - (35px - 35px * 1/2));
  }
  .col--1-2-bp-tl:nth-child(1n) {
    float: left;
    margin-right: 35px;
    clear: none;
  }
  .col--1-2-bp-tl:last-child {
    margin-right: 0;
  }
  .col--1-2-bp-tl:nth-child(0n) {
    float: right;
  }
}

@media screen and (max-width: 1024px) {
  .col--1-1-bp-tl {
    width: calc(99.9% * 1/1);
  }
  .col--1-1-bp-tl:nth-child(1n) {
    float: left;
    margin-right: 0;
    clear: none;
  }
  .col--1-1-bp-tl:last-child {
    margin-right: 0;
  }
  .col--1-1-bp-tl:nth-child(0n) {
    float: right;
  }
}

@media screen and (max-width: 1024px) {
  .col--4-12-bp-tl {
    width: calc(99.9% * 3/12 - (10% - 10% * 3/12));
  }
  .col--4-12-bp-tl:nth-child(1n) {
    float: left;
    margin-right: 10%;
    clear: none;
  }
  .col--4-12-bp-tl:last-child {
    margin-right: 0;
  }
  .col--4-12-bp-tl:nth-child(4n) {
    margin-right: 0;
    float: right;
  }
  .col--4-12-bp-tl:nth-child(4n + 1) {
    clear: both;
  }
}

@media screen and (max-width: 1024px) {
  .col--3-12-bp-tl {
    width: calc(99.9% * 3/12 - (10% - 10% * 3/12));
  }
  .col--3-12-bp-tl:nth-child(1n) {
    float: left;
    margin-right: 10%;
    clear: none;
  }
  .col--3-12-bp-tl:last-child {
    margin-right: 0;
  }
  .col--3-12-bp-tl:nth-child(4n) {
    margin-right: 0;
    float: right;
  }
  .col--3-12-bp-tl:nth-child(4n + 1) {
    clear: both;
  }
}

@media screen and (max-width: 1024px) {
  .col--6-12-bp-tl {
    width: calc(99.9% * 6/12 - (35px - 35px * 6/12));
  }
  .col--6-12-bp-tl:nth-child(1n) {
    float: left;
    margin-right: 35px;
    clear: none;
  }
  .col--6-12-bp-tl:last-child {
    margin-right: 0;
  }
  .col--6-12-bp-tl:nth-child(2n) {
    margin-right: 0;
    float: right;
  }
  .col--6-12-bp-tl:nth-child(2n + 1) {
    clear: both;
  }
}

@media screen and (max-width: 1024px) {
  .col--11-12-bp-tl {
    width: calc(99.9% * 11/12 - (35px - 35px * 11/12));
  }
  .col--11-12-bp-tl:nth-child(1n) {
    float: left;
    margin-right: 35px;
    clear: none;
  }
  .col--11-12-bp-tl:last-child {
    margin-right: 0;
  }
  .col--11-12-bp-tl:nth-child(0n) {
    float: right;
  }
}

@media screen and (max-width: 1024px) {
  .col--1-12-bp-tl {
    width: calc(99.9% * 1/12 - (35px - 35px * 1/12));
  }
  .col--1-12-bp-tl:nth-child(1n) {
    float: left;
    margin-right: 35px;
    clear: none;
  }
  .col--1-12-bp-tl:last-child {
    margin-right: 0;
  }
  .col--1-12-bp-tl:nth-child(0n) {
    float: right;
  }
}

@media screen and (max-width: 768px) {
  .col--1-1-bp-tp {
    width: calc(99.9% * 1/1 - (35px - 35px * 1/1));
  }
  .col--1-1-bp-tp:nth-child(1n) {
    float: left;
    margin-right: 35px;
    clear: none;
  }
  .col--1-1-bp-tp:last-child {
    margin-right: 0;
  }
  .col--1-1-bp-tp:nth-child(0n) {
    float: right;
  }
}

@media screen and (max-width: 768px) {
  .col--1-1-bp-tp-flush {
    width: calc(99.9% * 1/1);
  }
  .col--1-1-bp-tp-flush:nth-child(1n) {
    float: left;
    margin-right: 0;
    clear: none;
  }
  .col--1-1-bp-tp-flush:last-child {
    margin-right: 0;
  }
  .col--1-1-bp-tp-flush:nth-child(0n) {
    float: right;
  }
}

@media screen and (max-width: 768px) {
  .col--grid-10-bp-tp {
    width: calc(99.9% * 10/12);
  }
  .col--grid-10-bp-tp:nth-child(1n) {
    float: left;
    margin-right: 0;
    clear: none;
  }
  .col--grid-10-bp-tp:last-child {
    margin-right: 0;
  }
  .col--grid-10-bp-tp:nth-child(0n) {
    float: right;
  }
}

@media screen and (max-width: 768px) {
  .col--9-12-bp-tp {
    width: calc(99.9% * 9/12 - (35px - 35px * 9/12));
  }
  .col--9-12-bp-tp:nth-child(1n) {
    float: left;
    margin-right: 35px;
    clear: none;
  }
  .col--9-12-bp-tp:last-child {
    margin-right: 0;
  }
  .col--9-12-bp-tp:nth-child(0n) {
    float: right;
  }
}

@media screen and (max-width: 768px) {
  .col--6-12-bp-tp {
    width: calc(99.9% * 6/12 - (10% - 10% * 6/12)) !important;
  }
  .col--6-12-bp-tp:nth-child(1n) {
    float: left;
    margin-right: 10%;
    clear: none;
  }
  .col--6-12-bp-tp:last-child {
    margin-right: 0;
  }
  .col--6-12-bp-tp:nth-child(2n) {
    margin-right: 0;
    float: right;
  }
  .col--6-12-bp-tp:nth-child(2n + 1) {
    clear: both;
  }
}

@media screen and (max-width: 580px) {
  .col--1-1-bp-ml {
    width: calc(99.9% * 1/1 - (20px - 20px * 1/1));
  }
  .col--1-1-bp-ml:nth-child(1n) {
    float: left;
    margin-right: 20px;
    clear: none;
  }
  .col--1-1-bp-ml:last-child {
    margin-right: 0;
  }
  .col--1-1-bp-ml:nth-child(0n) {
    float: right;
  }
}

@media screen and (max-width: 580px) {
  .col--1-1-bp-ml-flush {
    width: calc(99.9% * 1/1);
  }
  .col--1-1-bp-ml-flush:nth-child(1n) {
    float: left;
    margin-right: 0;
    clear: none;
  }
  .col--1-1-bp-ml-flush:last-child {
    margin-right: 0;
  }
  .col--1-1-bp-ml-flush:nth-child(0n) {
    float: right;
  }
}

@media screen and (max-width: 580px) {
  .col--6-12-bp-ml {
    width: calc(99.9% * 6/12 - (10% - 10% * 6/12));
  }
  .col--6-12-bp-ml:nth-child(1n) {
    float: left;
    margin-right: 10%;
    clear: none;
  }
  .col--6-12-bp-ml:last-child {
    margin-right: 0;
  }
  .col--6-12-bp-ml:nth-child(2n) {
    margin-right: 0;
    float: right;
  }
  .col--6-12-bp-ml:nth-child(2n + 1) {
    clear: both;
  }
}

@media screen and (max-width: 580px) {
  .col--10-12-bp-ml {
    width: calc(99.9% * 10/12 - (35px - 35px * 10/12));
  }
  .col--10-12-bp-ml:nth-child(1n) {
    float: left;
    margin-right: 35px;
    clear: none;
  }
  .col--10-12-bp-ml:last-child {
    margin-right: 0;
  }
  .col--10-12-bp-ml:nth-child(0n) {
    float: right;
  }
}

@media screen and (max-width: 430px) {
  .col--1-1-bp-mm-flush {
    width: calc(99.9% * 1/1);
  }
  .col--1-1-bp-mm-flush:nth-child(1n) {
    float: left;
    margin-right: 0;
    clear: none;
  }
  .col--1-1-bp-mm-flush:last-child {
    margin-right: 0;
  }
  .col--1-1-bp-mm-flush:nth-child(0n) {
    float: right;
  }
}

