/*  ==========================================================================
    Preloader
    ========================================================================== */
/*
    Block
    ========================================================================== */
.preloader {
  position: fixed;
  display: block;
  background-color: #fff;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 18;
  -webkit-transition: background 0.6s cubic-bezier(0.72, 0, 0.27, 1);
  transition: background 0.6s cubic-bezier(0.72, 0, 0.27, 1);
  will-change: background;
  pointer-events: none;
}

/*
    Elements
    ========================================================================== */
.preloader div {
  height: 100%;
}

.preloader__logo {
  position: absolute;
  top: 50%;
  -webkit-transform: scale(1) translate3d(0, -50%, 0);
          transform: scale(1) translate3d(0, -50%, 0);
  -webkit-transform-origin: left top;
          transform-origin: left top;
  left: 0;
  width: 580px;
  height: 196px;
  overflow: hidden;
  z-index: -1;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
}

@media screen and (max-width: 1500px) {
  .preloader__logo {
    width: 480px;
    height: 158px;
  }
}

@media screen and (max-width: 1024px) {
  .preloader__logo {
    display: none;
  }
}

.preloader svg {
  width: 580px;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(calc(-50% + 195px));
          transform: translateY(calc(-50% + 195px));
  -webkit-transition: fill 0.6s cubic-bezier(0.72, 0, 0, 1);
  transition: fill 0.6s cubic-bezier(0.72, 0, 0, 1);
  fill: #ed1c24;
  will-change: fill;
  z-index: 0;
  -webkit-animation: reveal 0.6s normal forwards cubic-bezier(0.72, 0, 0, 1);
          animation: reveal 0.6s normal forwards cubic-bezier(0.72, 0, 0, 1);
}

@media screen and (max-width: 1500px) {
  .preloader svg {
    width: 480px;
    -webkit-transform: translateY(calc(-50% + 157px));
            transform: translateY(calc(-50% + 157px));
  }
}

@media screen and (max-width: 1024px) {
  .preloader svg {
    display: none;
  }
}

/*
    States
    ========================================================================== */
body.preloaded .preloader {
  background: transparent;
}

body.preloaded .preloader svg {
  fill: white;
}

/*
    Animating
    ========================================================================== */
@-webkit-keyframes reveal {
  from {
    -webkit-transform: translateY(calc(-50% + 195px));
            transform: translateY(calc(-50% + 195px));
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    opacity: 1;
  }
}
@keyframes reveal {
  from {
    -webkit-transform: translateY(calc(-50% + 195px));
            transform: translateY(calc(-50% + 195px));
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    opacity: 1;
  }
}
