/*  ==========================================================================
    c-photoswipe-grid-gallery
    ========================================================================== */

.c-photoswipe-grid-gallery {
  background-color: #fff;
  -webkit-box-shadow: -4px 0px 20px -5px rgba(0, 0, 0, 0.6);
          box-shadow: -4px 0px 20px -5px rgba(0, 0, 0, 0.6);
  -webkit-transition: -webkit-transform 800ms cubic-bezier(0.19, 1, 0.22, 1);
  transition: -webkit-transform 800ms cubic-bezier(0.19, 1, 0.22, 1);
  transition: transform 800ms cubic-bezier(0.19, 1, 0.22, 1);
  transition: transform 800ms cubic-bezier(0.19, 1, 0.22, 1), -webkit-transform 800ms cubic-bezier(0.19, 1, 0.22, 1);
  height: 100%;
  width: 100%;
}

.c-photoswipe-grid-gallery .c-photoswipe-back {
  position: static;
  height: 40px;
  padding: 11px;
  margin-left: -10px;
}

@media (max-width: 789px) {
  .c-photoswipe-grid-gallery .c-photoswipe-back {
    display: block;
  }
}

.c-photoswipe-grid-gallery .c-photoswipe-back svg {
  fill: #000;
}

.c-photoswipe-grid-gallery .pspw__trigger:before {
  display: none;
}

.c-photoswipe-grid-gallery__category-grid,
.c-photoswipe-grid-gallery__category-tags-wrapper {

  font-size: calc(0.00417 * 100vw + 14.91667px);
  line-height: 1.2;
}

@media (max-width: 739px) {
  .c-photoswipe-grid-gallery__category-grid,
  .c-photoswipe-grid-gallery__category-tags-wrapper {
    font-size: 18px;
  }
}

@media (min-width: 1700px) {
  .c-photoswipe-grid-gallery__category-grid,
  .c-photoswipe-grid-gallery__category-tags-wrapper {
    font-size: 22px;
  }
}

.c-photoswipe-grid-gallery__category-tags-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding-right: 20px;
  padding-left: 20px;
  display: flex;
  align-items: center;
  height: calc(0.01667 * 100vw + 57.66667px);
}

@media (min-width: 740px) {
  .c-photoswipe-grid-gallery__category-tags-wrapper {
    padding-right: 45px;
    padding-left: 45px;
  }
}

@media (min-width: 1374px) {
  .c-photoswipe-grid-gallery__category-tags-wrapper {
    padding-right: 90px;
    padding-left: 90px;
  }
}

@media (max-width: 739px) {
  .c-photoswipe-grid-gallery__category-tags-wrapper {
    height: 70px;
  }
}

@media (min-width: 1700px) {
  .c-photoswipe-grid-gallery__category-tags-wrapper {
    height: 86px;
  }
}

.c-photoswipe-grid-gallery__category-tags-wrapper > * {
  height: 1em;
  margin-top: -7px;
}

.c-photoswipe-grid-gallery__category-tags-wrapper .pswp__button--grid {
  color: #000;
  margin-left: auto;
  position: static;
  top: auto;
  -webkit-transform: none;
          transform: none;
  height: 1em;
}

@media (max-width: 789px) {
  .c-photoswipe-grid-gallery__category-tags-wrapper .pswp__button--grid {
    height: 2em;
    line-height: 2em;
    width: 2em;
    margin-bottom: -7px;
  }
}

.c-photoswipe-grid-gallery__category-tags-wrapper .pswp__button--grid svg,
.c-photoswipe-grid-gallery__category-tags-wrapper .pswp__button--grid svg path {
  fill: #000;
}

.c-photoswipe-grid-gallery__category-tag {

  font-size: calc(0.00417 * 100vw + 14.91667px);
  line-height: 1.2;
  color: #bab8b8;
  cursor: pointer;
}

@media (max-width: 739px) {
  .c-photoswipe-grid-gallery__category-tag {
    font-size: 18px;
  }
}

@media (min-width: 1700px) {
  .c-photoswipe-grid-gallery__category-tag {
    font-size: 22px;
  }
}

.c-photoswipe-grid-gallery__category-tag:hover {
  color: #000;
}

.c-photoswipe-grid-gallery__category-tag.is-selected {
  color: #000;
}

.c-photoswipe-grid-gallery__category-tag.is-hidden {
  display: none;
}

.c-photoswipe-grid-gallery__category-tag:not(:last-of-type):after {
  content: '/';
  color: #bab8b8;
  margin-left: 8px;
  margin-right: 8px;
}

.c-photoswipe-grid-gallery__category-grid {
  width: 100%;
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: calc(0.09375 * 100vw + -9.375px);
  overflow: auto;
  position: absolute;
  left: 0;
  right: 0;
  height: calc(100% - 86px);
  -webkit-overflow-scrolling: touch;
}

@media (min-width: 740px) {
  .c-photoswipe-grid-gallery__category-grid {
    padding-right: 45px;
    padding-left: 45px;
  }
}

@media (min-width: 1374px) {
  .c-photoswipe-grid-gallery__category-grid {
    padding-right: 90px;
    padding-left: 90px;
  }
}

@media (max-width: 739px) {
  .c-photoswipe-grid-gallery__category-grid {
    padding-bottom: 60px;
  }
}

@media (min-width: 1700px) {
  .c-photoswipe-grid-gallery__category-grid {
    padding-bottom: 150px;
  }
}

.c-photoswipe-grid-gallery__category-grid .row {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-right: -10px;
  margin-left: -10px;
  display: flex;
  flex-wrap: wrap;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 300ms;
  transition: all 300ms;
}

@media (min-width: 740px) {
  .c-photoswipe-grid-gallery__category-grid .row {
    margin-right: -22.5px;
    margin-left: -22.5px;
  }
}

@media (min-width: 1374px) {
  .c-photoswipe-grid-gallery__category-grid .row {
    margin-right: -45px;
    margin-left: -45px;
  }
}

.c-photoswipe-grid-gallery__category-grid .row.is-selected {
  opacity: 1;
  visibility: visible;
  z-index: 1;
  -webkit-transition: all 300ms ease-out 450ms;
  transition: all 300ms ease-out 450ms;
}

.c-photoswipe-grid-gallery__category-grid .row:not(.is-selected) {
  overflow: hidden;
  height: 0;
}

.c-photoswipe-grid-gallery__category-grid [data-photoswipe-category] {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  overflow: hidden;
  position: relative;
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 10px;
  padding-left: 10px;
}

.c-photoswipe-grid-gallery__category-grid [data-photoswipe-category]:before {
  display: none;
}

.c-photoswipe-grid-gallery__category-grid [data-photoswipe-category] ._wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  position: relative;
}

.c-photoswipe-grid-gallery__category-grid [data-photoswipe-category] .lazy-container {
  width: 100%;
}

@media (min-width: 740px) {
  .c-photoswipe-grid-gallery__category-grid [data-photoswipe-category] {
    padding-right: 22.5px;
    padding-left: 22.5px;
  }
}

@media (min-width: 1374px) {
  .c-photoswipe-grid-gallery__category-grid [data-photoswipe-category] {
    padding-right: 45px;
    padding-left: 45px;
  }
}

@media (max-width: 739px) {
  .c-photoswipe-grid-gallery__category-grid [data-photoswipe-category] {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    max-width: 50%;
  }
  .c-photoswipe-grid-gallery__category-grid [data-photoswipe-category]:nth-child(n+3) {
    padding-top: 20px;
  }
}

@media (min-width: 740px) and (max-width: 1373px) {
  .c-photoswipe-grid-gallery__category-grid [data-photoswipe-category] {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 33.33333%;
            flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
  .c-photoswipe-grid-gallery__category-grid [data-photoswipe-category]:nth-child(n+4) {
    padding-top: 45px;
  }
}

@media (min-width: 790px) and (max-width: 1699px) {
  .c-photoswipe-grid-gallery__category-grid [data-photoswipe-category] {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
            flex: 0 0 25%;
    max-width: 25%;
  }
  .c-photoswipe-grid-gallery__category-grid [data-photoswipe-category]:nth-child(n+5) {
    padding-top: 45px;
  }
}

@media (min-width: 1374px) and (max-width: 1699px) {
  .c-photoswipe-grid-gallery__category-grid [data-photoswipe-category]:nth-child(n+5) {
    padding-top: 90px;
  }
}

@media (min-width: 1700px) {
  .c-photoswipe-grid-gallery__category-grid [data-photoswipe-category] {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 20%;
            flex: 0 0 20%;
    max-width: 20%;
  }
  .c-photoswipe-grid-gallery__category-grid [data-photoswipe-category]:nth-child(n+6) {
    padding-top: 90px;
  }
}

.c-photoswipe-grid-gallery__category-grid [data-photoswipe-category] .pspw__trigger:before {
  display: none;
}