/*  ==========================================================================
    Links
    ========================================================================== */
/*
    Block
    ========================================================================== */
a {
  color: inherit;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

a:hover {
  color: inherit;
}
