
/*  ==========================================================================
    Logo
    ========================================================================== */
/*
    Block
    ========================================================================== */
.c-logo {
  width: 130px;
  height: 59px;
  display: block;
}

@media screen and (max-width: 580px) {
  .c-logo {
    width: 85px;
    height: 28px;
  }
}

/*
    Modifiers
    ========================================================================== */
.c-logo--white svg {
  fill: #fff;
}

.c-logo--red {
  fill: #ed1c24;
}
