/*  ==========================================================================
    Instafeed
    ========================================================================== */
/*
    Block
    ========================================================================== */
.instafeed .flickity-viewport {
  overflow: visible;
}

/*
    Element
    ========================================================================== */
.instafeed__image {
  position: relative;
  margin-bottom: 25px;
  overflow: hidden;
}

.instafeed__image > div {
  width: 101%;
}