/*  ==========================================================================
    Tables
    ========================================================================== */
/*
    Block
    ========================================================================== */
table {
  width: 100%;
}

table th, table td {
  text-align: left;
  padding: 5px;
}

table th {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}
