
/*  ==========================================================================
    Location
    ========================================================================== */
/*
    Block
    ========================================================================== */
.c-location {
  font-weight: 400;
}

.c-location span {
  display: block;
}

.c-location span + br {
  display: none;
}

/*
    Elements
    ========================================================================== */
.c-location svg {
  margin-left: 3px;
}

