/*  ==========================================================================
    Row
    ========================================================================== */
/*
    Block
    ========================================================================== */
.l-row {
  position: relative;
  padding-left: 7%;
  padding-right: 7%;
  clear: both;
}

@media screen and (max-width: 580px) {
  .l-row {
    padding-left: 5%;
    padding-right: 5%;
  }
}

/*
    Modifiers
    ========================================================================== */
.l-row--flush {
  padding-left: 0;
  padding-right: 0;
}

.l-row--flush-right {
  padding-right: 0;
}

.l-row--flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.l-row--lg {
  background-color: #eaeaea;
}

.l-row--dg {
  background-color: #8d8d8d;
}

.l-row--white {
  background-color: #fff;
}

.l-row--border-top {
  border-top: 1px solid #eaeaea;
}

.l-row--border-bottom-dark {
  border-bottom: 1px solid #262626;
}

.l-row--overflow {
  overflow: hidden;
}

.l-row--flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.l-row--vc {
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.l-row--grid {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  z-index: 0;
  pointer-events: none;
  z-index: 300;
}

.l-row--grid .container,
.l-row--grid .col {
  height: 100%;
}

.l-row--fixed {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

/*
* Row padding
*/
.l-row-padding--l {
  padding-top: 100px;
  padding-bottom: 100px;
}

.l-row-padding--m {
  padding-top: 80px;
  padding-bottom: 80px;
}

.l-row-padding--s {
  padding-top: 50px;
  padding-bottom: 50px;
}

@media screen and (max-width: 580px) {
  .l-row-padding--s {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

.l-row-padding--xxs {
  padding-top: 20px;
  padding-bottom: 20px;
}

.l-row-padding-bottom--l {
  padding-bottom: 100px;
}

@media screen and (max-width: 768px) {
  .l-row-padding-bottom--l {
    padding-bottom: 80px;
  }
}

.l-row-padding-bottom--xl {
  padding-bottom: 150px;
}

@media screen and (max-width: 768px) {
  .l-row-padding-bottom--xl {
    padding-bottom: 100px;
  }
}

@media screen and (max-width: 580px) {
  .l-row-padding-bottom--xl {
    padding-bottom: 80px;
  }
}

.l-row-padding-bottom--m {
  padding-bottom: 80px;
}

@media screen and (max-width: 580px) {
  .l-row-padding-bottom--m {
    padding-bottom: 30px;
  }
}

.l-row-padding-bottom--s {
  padding-bottom: 50px;
}

.l-row-padding-bottom--xs {
  padding-bottom: 30px;
}

.l-row-padding--xl {
  padding-top: 150px;
  padding-bottom: 150px;
}

@media screen and (max-width: 768px) {
  .l-row-padding--xl {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}

@media screen and (max-width: 580px) {
  .l-row-padding--xl {
    padding-top: 80px;
    padding-bottom: 80px;
  }
}

.l-row-padding-top--xs {
  padding-top: 30px;
}

.l-row-padding-top--s {
  padding-top: 50px;
}

.l-row-padding-top--m {
  padding-top: 80px;
}

@media screen and (max-width: 768px) {
  .l-row-padding-top--m {
    padding-top: 50px;
  }
}

.l-row-padding-top--l {
  padding-top: 100px;
}

.l-row-padding-top--xl {
  padding-top: 150px;
}

@media screen and (max-width: 768px) {
  .l-row-padding-top--xl {
    padding-top: 100px;
  }
}

@media screen and (max-width: 580px) {
  .l-row-padding-top--xl {
    padding-top: 50px;
  }
}

.l-row-padding-top--xxl {
  padding-top: 200px;
}

@media screen and (max-width: 768px) {
  .l-row-padding-top--xxl {
    padding-top: 100px;
  }
}

@media screen and (max-width: 580px) {
  .l-row-padding-top--xxl {
    padding-top: 80px;
  }
}

.l-row-padding-top--xl-plus-header {
  padding-top: 234px;
}

/*
* Row margin
*/
.l-row-margin-bottom--xxl {
  margin-bottom: 200px;
}

@media screen and (max-width: 1024px) {
  .l-row-margin-bottom--xxl {
    margin-bottom: 150px;
  }
}

@media screen and (max-width: 768px) {
  .l-row-margin-bottom--xxl {
    margin-bottom: 100px;
  }
}

@media screen and (max-width: 580px) {
  .l-row-margin-bottom--xxl {
    margin-bottom: 80px;
  }
}

@media screen and (max-width: 430px) {
  .l-row-margin-bottom--xxl {
    margin-bottom: 60px;
  }
}

.l-row-margin-bottom--xl {
  margin-bottom: 150px;
}

@media screen and (max-width: 1024px) {
  .l-row-margin-bottom--xl {
    margin-bottom: 100px;
  }
}

@media screen and (max-width: 580px) {
  .l-row-margin-bottom--xl {
    margin-bottom: 30px;
  }
}

.l-row-margin-bottom--l {
  margin-bottom: 100px;
}

@media screen and (max-width: 768px) {
  .l-row-margin-bottom--l {
    margin-bottom: 80px;
  }
}

.l-row-margin-bottom--125 {
  margin-bottom: 125px;
}

@media screen and (max-width: 1024px) {
  .l-row-margin-bottom--125 {
    margin-bottom: 70px;
  }
}

@media screen and (max-width: 580px) {
  .l-row-margin-bottom--125 {
    margin-bottom: 30px;
  }
}

.l-row-margin-bottom--s {
  margin-bottom: 50px;
}

.l-row-margin-bottom--xs {
  margin-bottom: 30px;
}

/* reponsive */
@media screen and (max-width: 768px) {
  .l-row-padding-bottom--flush-bp-tp {
    padding-bottom: 0;
  }
}

@media screen and (max-width: 1024px) {
  .l-row--no-flush-bp-tl {
    padding-left: 7%;
    padding-right: 7%;
  }
}

@media screen and (max-width: 580px) {
  .l-row--no-flush-bp-tl {
    padding-left: 5%;
    padding-right: 5%;
  }
}

@media screen and (max-width: 768px) {
  .l-row--no-flush-bp-tp {
    padding-left: 7%;
    padding-right: 7%;
  }
}

@media screen and (max-width: 580px) {
  .l-row--no-flush-bp-tp {
    padding-left: 5%;
    padding-right: 5%;
  }
}

@media screen and (max-width: 1024px) {
  .l-row--flush-bp-tl {
    padding-left: 0;
    padding-right: 0;
  }
}

@media screen and (max-width: 768px) {
  .l-row--flush-bp-tp {
    padding-left: 0;
    padding-right: 0;
  }
}

@media screen and (max-width: 580px) {
  .l-row--flush-bp-ml {
    padding-left: 0;
    padding-right: 0;
  }
}

@media screen and (max-width: 580px) {
  .l-row--no-flush-bp-ml {
    padding-left: 5%;
    padding-right: 5%;
  }
}

